@model IEnumerable<NoteApp.Models.Note>

<div class="row justify-content-sm-center p-0 mb-2 mt-2" id="noteViewTableContainer">

    <table class="table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th scope="col">Select</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var note in Model)
        {
            <tr>
                <td>
                    <input class="form-check-input" value="" type="checkbox"/>
                </td>
                <td>@Html.DisplayFor(modelItem => note.Title)</td>
                <td>@Html.DisplayFor(modelItem => note.Body)</td>
                <td>These are actions</td>
            </tr>
        }
        </tbody>
    </table>

    <!-- Pagination -->
    <nav aria-label="Pagination">
        <ul class="pagination justify-content-center m-2" id="noteViewPagination">
            @* <li class="page-item"> *@
            @*     $1$ @if (ViewBag.CurrentPage > 1) #1# *@
            @*     $1$ { #1# *@
            @*     $1$     <a class="pagination-link page-link" href="@Url.Action("GetNotes", new { view = "Table", currentPage = ViewBag.CurrentPage - 1 })">Previous</a> #1# *@
            @*     $1$ } #1# *@
            @*     $1$ else #1# *@
            @*     $1$ { #1# *@
            @*     $1$     <a class="pagination-link page-link disabled">Previous</a> #1# *@
            @*     $1$      #1# *@
            @*     $1$ } #1# *@
            @* </li> *@
            @* @{ *@
            @*      *@
            @*     $1$ for (var i = 1; i < (ViewBag.TotalPages + 1 < 10 ? ViewBag.TotalPages + 1: 9); i++) #1# *@
            @*     $1$ { #1# *@
            @*     $1$     if (ViewBag.CurrentPage == i) #1# *@
            @*     $1$     { #1# *@
            @*     $1$         <li class="page-item active"> #1# *@
            @*     $1$             <a class="pagination-link page-link" href="@Url.Action("GetNotes", new { view = "Table", currentPage = i})">@i</a> #1# *@
            @*     $1$         </li> #1# *@
            @*     $1$     } #1# *@
            @*     $1$     else #1# *@
            @*     $1$     { #1# *@
            @*     $1$         <li class="page-item"> #1# *@
            @*     $1$             <a class="pagination-link page-link" href="@Url.Action("GetNotes", new { view = "Table", currentPage = i})">@i</a> #1# *@
            @*     $1$         </li> #1# *@
            @*     $1$     } #1# *@
            @*     $1$ } #1# *@
            @* } *@
            @* *@
            @* <li class="page-item"> *@
            @*     $1$ @if (ViewBag.CurrentPage < ViewBag.TotalPages) #1# *@
            @*     $1$ { #1# *@
            @*     $1$     <a class="pagination-link page-link" href="@Url.Action("GetNotes", new { view = "Table", currentPage = ViewBag.CurrentPage + 1 })">Next</a> #1# *@
            @*     $1$ } #1# *@
            @*     $1$ else #1# *@
            @*     $1$ { #1# *@
            @*     $1$     <a class="pagination-link page-link disabled">Next</a> #1# *@
            @*     $1$ #1# *@
            @*     $1$ } #1# *@
            @* </li> *@
        </ul>
        

    </nav>
</div>

<script>

// Table pagination
$(document).ready(function() {
    let currentPage = @ViewBag.CurrentPage;
    let totalPage = @ViewBag.TotalPages;

    // Generate GoToStart link
    let goToStart = $('<a>').addClass('pagination-link page-link').text('<<<');
    goToStart.attr('href', `/Note/GetNotes?view=Table&currentPage=${1}`);

    let goToStartItem = $('<li>').addClass('page-item').append(goToStart);
    if (currentPage === 1) {
        goToStartItem.addClass('disabled');
    }

    // Generate Prev link
    let previousLink = $('<a>').addClass('pagination-link page-link').text('Previous');
    if (currentPage > 1) {
        previousLink.attr('href', `/Note/GetNotes?view=Table&currentPage=${currentPage - 1}`);
    } else {
        previousLink.addClass('disabled');
    }
    let previousListItem = $('<li>').addClass('page-item').append(previousLink);

    // Generate left 2 links
    let leftLinks = [];
    for (let i = currentPage - 1; i >= currentPage - 2; i--) {
        if (i >= 1) {
            let pageLink = $('<a>').addClass('pagination-link page-link');
            pageLink.attr('href', `/Note/GetNotes?view=Table&currentPage=${i}`);
            pageLink.text(i);
            
            let listItem = $('<li>').addClass('page-item');
            listItem.append(pageLink);
            leftLinks.unshift(listItem);
        }
    }
    
    // Generate current page link
    let currentLink;
    if (currentPage >= 1 || currentPage <= totalPage) {
        let pageLink = $('<a>').addClass('pagination-link page-link');
        pageLink.attr('href', `/Note/GetNotes?view=Table&currentPage=${currentPage}`).text(currentPage);
        
        let listItem = $('<li>').addClass('page-item active disabled');
        listItem.append(pageLink);
        
        currentLink = listItem;
    }

    // Generate right 2 links
    let rightLinks = [];
    for (let i = currentPage + 1; i <= currentPage + 2; i++) {
        if (i <= totalPage) {
            let pageLink = $('<a>').addClass('pagination-link page-link');
            pageLink.attr('href', `/Note/GetNotes?view=Table&currentPage=${i}`);
            pageLink.text(i);

            let listItem = $('<li>').addClass('page-item');
            listItem.append(pageLink);
            rightLinks.push(listItem);
        }
    }

    // Generate Next link
    let nextLink = $('<a>').addClass('pagination-link page-link').text('Next');
    if (currentPage < totalPage) {
        nextLink.attr('href', `/Note/GetNotes?view=Table&currentPage=${currentPage + 1}`);
    } else {
        nextLink.addClass('disabled');
    }
    let nextListItem = $('<li>').addClass('page-item').append(nextLink);

    // Generate GoToEnd link
    let goToEnd = $('<a>').addClass('pagination-link page-link').text('>>>');
    goToEnd.attr('href', `/Note/GetNotes?view=Table&currentPage=${totalPage}`);
    
    let goToEndItem = $('<li>').addClass('page-item').append(goToEnd);
    if (currentPage === totalPage) {
        goToEndItem.addClass('disabled');
    }
    
    // Append all the links to #noteViewPagination in the correct order
    $('#noteViewPagination').append(goToStartItem, previousListItem, leftLinks, currentLink, rightLinks, nextListItem, goToEndItem);
});
</script>