@using Microsoft.AspNetCore.Identity
@model NoteApp.Models.Note
@inject UserManager<User> UserManager

<div class="justify-content-sm-center m-2">
    <h1 class="text-black text-center m-2">Create New Note</h1>
    
</div>

@using (Html.BeginForm())
{
    <div class="mb-4">
        <div class="row mb-2">
            <div class="col-6">
                @*Title*@
                <div class="form-floating ">
                    @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                    @Html.LabelFor(model => model.Title)
                    @Html.ValidationMessageFor(model => model.Title)
                </div>
                
            </div>

            <div class="col-4">
                @*Category*@
                <div class="input-group form-floating">
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.Categories"></select>
                    <label asp-for="CategoryId" >Category</label>
                    <button class="btn btn-outline-secondary rounded-end">
                        <a asp-action="Create" asp-controller="Category"><i class="bi bi-plus text-decoration-none"></i></a>
                    </button>

                    @Html.ValidationMessageFor(model => model.CategoryId)
                </div>
                
            </div>
            
            <div class="col-2">
                @*IsPublic*@
                <div class="form-group">
                    <div class="card">
                        <div class="card-body p-2">
                            @Html.CheckBoxFor(model => model.IsPublic)
                            @Html.LabelFor(model => model.IsPublic)
                            @Html.ValidationMessageFor(model => model.IsPublic)
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">

            <div class="col-9">
                @*Description*@
                <div class="form-floating ">
                    @Html.TextAreaFor(model => model.Body, new { @style = "height:350px", @class = "form-control", @rows = 50 })
                    @Html.LabelFor(model => model.Body)
                    @Html.ValidationMessageFor(model => model.Body)
                </div>
            </div>


            <div class="col-3">
                @*Tags*@
                <div class="input-group mb-2 justify-content-center">
                    <div class="border rounded-2 text-center">
                        <h3><span class="badge text-bg-primary text-black">Tags</span></h3>
                        @* <label asp-for="NoteTags" class="text-center form-label">Tags</label> *@
                    </div>
                    <button class="btn btn-outline-secondary rounded-end">
                        <a asp-action="Create" asp-controller="Tag">Create Tag</a>
                    </button>
                </div>
                <select asp-for="NoteTags" name="selectedTags" class="form-control" asp-items="ViewBag.UserOwnedTags" multiple></select>
                @Html.ValidationMessageFor(model => model.NoteTags)

            </div>


            <div class="col">
                <div class="form-floating mt-2">
                    <button type="submit" class="btn btn-success" value="Save">Create</button>
                </div>
            </div>
        </div>
        


    </div>


}
