@model IEnumerable<NoteApp.Models.Note>

<h1>Notes</h1>
<div class="container-fluid">
        <div class="row badge bg-secondary">
                <a class="font-monospace text-white text-decoration-none text-md-center" href="@Url.Action("Create")">New Note +</a>
        </div>
</div>
                
        


<div class="container text-center">
        <div class="row justify-content-sm-center">
                @foreach (var note in Model)
                { 
                        <div class="col-sm-4 border border-secondary border-1 rounded m-1 p-1">
                                <h2>@Html.DisplayFor(modelItem => note.Title)</h2>
                                <p>@Html.DisplayFor(modelItem => note.Body)</p>

                                <div class="badge bg-secondary text-wrap">
                                        <a class="text-decoration-none text-md-center font-monospace text-white" href="@Url.Action("Edit", new { id = note.Id })">Edit</a>
                                </div>                                
                                <div class="badge bg-secondary text-wrap">
                                        <a class="text-decoration-none text-md-center font-monospace text-white" href="@Url.Action("Details", new { id = note.Id })">Details</a>
                                </div>                                
                                <div class="badge bg-secondary text-wrap">
                                        <a class="text-decoration-none text-md-center font-monospace text-white" href="@Url.Action("Delete", new { id = note.Id })">Delete</a>
                                </div>

                        </div>

                }
        </div>
</div>

